@import '../../scss/compass';
body{
	.booking-message-page{
		.item-wrap{
			.p1th{
				padding:rem(2) rem(20) rem(20) rem(20);
				.list{
					background-color: #fff;
					box-shadow: 0 0 20px rgba(0,0,0,.2);
					padding:rem(120) rem(0) rem(100);
					li{
						padding:rem(0) rem(42) rem(0) rem(52);
						.box-1{
							margin-top: rem(40);
							font-size: rem(32);
							.must-write-icon{
								width: rem(10);
								height: rem(10);
								display: inline-block;
								vertical-align: middle;
								@include bgimg("../../images/booking/point-icon-10x10.jpg");
							}
							.txt{
								display: inline-block;
								vertical-align: middle;
								margin-left: rem(16);
							}
						}
						.box-2{
							margin-top: rem(40);
							.select{
								padding:rem(20) rem(0) rem(20) 2%;
								width: 100%;
								font-size: rem(32);
								color:#8893ae;
								border:1px solid #bfcae1;
								option{
									padding:rem(20) rem(0);
								}
							}
							.input-txt{
								width: 98%;
								border:1px solid #bfcae1;
								padding:rem(20) rem(0) rem(20) 2%;
							}
						}
					}
				}
			}
			.p2th{
				width: 100%;
				position: absolute;
				left: 0;
				bottom:0;
				z-index: 1;
			}
			
		}
	}
}

